@model IEnumerable<PersonelYonetimSistemi.Models.Personel>

@{
	ViewData["Title"] = "Personel Listesi";
}

<p>
	<a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Personel Ekle</a>
</p>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Personel Listesi</h3>
	</div>
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.EmpNum)</th>
					<th>@Html.DisplayNameFor(model => model.FirstName)</th>
					<th>@Html.DisplayNameFor(model => model.MidName)</th>
					<th>@Html.DisplayNameFor(model => model.LastName)</th>
					<th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
					<th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
					<th>İşlemler</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.EmpNum)</td>
						<td>@Html.DisplayFor(modelItem => item.FirstName)</td>
						<td>@Html.DisplayFor(modelItem => item.MidName)</td>
						<td>@Html.DisplayFor(modelItem => item.LastName)</td>
						<td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
						<td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
						<td>
							<div class="btn-group">
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
									<i class="fas fa-edit"></i> Düzenle
								</a>
								<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
									<i class="fas fa-info-circle"></i> Detay
								</a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
									<i class="fas fa-trash"></i> Sil
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
